*{
  box-sizing: border-box;
}

body{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/wood-texture-plank-grain-background-wooden-desk-table-or-floor-old-striped-timber-board-dmitr1ch.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center center; 
  height: 100vh;
  width: 100%;
  color:whitesmoke;
  font-size: larger;
}

h1{
  color:whitesmoke;
  font-size: 200%;
}

.input{
  border: 1px solid #d7d7d7;
  padding: 10px 15px;
  outline: 0;
}

.input:focus{
  border-color: aqua;
}

.bottone{
  background-color: aqua;
  padding: 10px 15px;
  border:1px solid aqua;
}

.bottone.error{
  background-color: red;
  border-color: red;
}

.todo{
  margin: 10px 0px;
  display:flex;
  justify-content: space-between;
  color: whitesmoke;
  font-size: larger;
}

ul{
  padding: 0px;
}

.selected{
  text-decoration: line-through;
}
