*{
  box-sizing: border-box;
}

body{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.input{
  border: 1px solid #d7d7d7;
  padding: 10px 15px;
  outline: 0;
}

.input:focus{
  border-color: aqua;
}

.bottone{
  background-color: aqua;
  padding: 10px 15px;
  border:1px solid aqua;
}

.bottone.error{
  background-color: red;
  border-color: red;
}

.todo{
  margin: 10px 0px;
  display:flex;
  justify-content: space-between;
}

ul{
  padding: 0px;
}

.selected{
  text-decoration: line-through;
}
